* {
    -light-color: #ececd0;
    -dark-color: #759555;
    -arrow-color: rgba(248, 164, 7, 0.7);
    -highlighted-spot-color-light: rgb(235, 97, 80);
    -highlighted-spot-color-dark: rgb(208, 76, 59);
    -main-bg-color: #312e2b;
}

.game-container {
    -fx-background-color: -main-bg-color;
}

.board-spot {
    -fx-border-width: 0;
}

.board-spot-light {
    -fx-background-color: -light-color;
}
.board-spot-dark {
    -fx-background-color: -dark-color;
}
.dark-spot-label {
    -fx-text-fill: -dark-color;
}
.light-spot-label {
    -fx-text-fill: -light-color;
}
.light-spot-label, .dark-spot-label {
    -fx-font-family: Arial;
    -fx-font-weight: bold;
}
.board-spot-dark.from-spot {
    /*185, 200, 43*/
    -fx-background-color: rgb(185, 200, 43);
}
.board-spot-dark.to-spot {
    /*185, 200, 43*/
    -fx-background-color: rgb(185, 200, 43);
}
.board-spot-light.from-spot {
    /*244, 244, 129*/
    -fx-background-color: rgb(244, 244, 129);
}
.board-spot-light.to-spot {
    /*244, 244, 129*/
    -fx-background-color: rgb(244, 244, 129);
}
.board-spot-light.highlighted-spot {
    -fx-background-color: -highlighted-spot-color-light !important;
}
.board-spot-dark.highlighted-spot {
    -fx-background-color: -highlighted-spot-color-dark !important;
}

.take-circle {
    -fx-fill: transparent;
    -fx-stroke: rgba(100, 100, 100, 0.4);
    -fx-stroke-width: 10;
}

.move-circle {
    -fx-fill:  rgba(100, 100, 100, 0.4);
}

.hover-spot {
    -fx-border-color: white;
    -fx-border-width: 5;
}
.hover-spot > .board-spot-text-pane {
    -fx-padding: 2.5;
}

.arrow-line {
    -fx-stroke-line-cap: round;
    -fx-stroke: -arrow-color;
    -fx-fill: -arrow-color;
}
.arrow-cap {
    -fx-stroke-width: 15;
    -fx-stroke: -arrow-color;
    -fx-fill: -arrow-color;
}